* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#200016, #6f0000);
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

header .logo {
  cursor: pointer;
  text-transform: uppercase;
}

header ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

header ul li {
  margin-left: 20px;
}

header ul li:first-child {
  margin-left: 0;
}

header ul li a {
  font-size: 18px;
  font-weight: 500;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease 0s;
}

header ul li a:hover {
  border-bottom: 2px solid #fff;
}

.active {
  border-bottom: 2px solid #fff;
}
